body {
  background-color: lightblue;
}

h1 {
  font-family: verdana;
  color: tomato;
  text-align: center;
}

#header {
  background-color: slateblue;
  color: white;
  padding: 40px;
  text-align: center;
}

.fixed {
  position: fixed;
  top: 1;
  right: 1;
  width: 1350px;
}

p {
  font-family: courier;
  color: violet;
  text-align: center;
  font-size: 20px;
}

q {
  font-family: arial;
  color: white;
  font-size: 20px;
}

#customers {
  font-family: "Trebuchet MS";
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid white;
  padding: 10px;
}

#customers th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: tomato;
  color: white;
}

td {
  color: tomato;
}

* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.absolute {
  position: absolute;
  top: 2000px;
  left: 300px;
  width: 430px;
  height: 245px;
  border: 3px solid teal;
}

.absolute2 {
  position: absolute;
  top: 2000px;
  right: 180px;
  width: 430px;
  height: 222px;
  border: 10px solid teal;
}